:host {
  display: block;
}
.main {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  min-height: 100vh;
  background: #000;
  margin: 0;
  padding: 0;
}